@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,700|Poppins:300,400,700,900i&display=swap');
$white: #fff;
$gray-100: #fafafa;
$gray-200: #F9F8FC;
$gray-300: #EDEDED;
$gray-400: #cbc8d0;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #444;
$gray-800: #343a40;
$gray-900: #17141F;
$black: #000;
$blue: #007bff;
$indigo: #6610f2;
$purple: #593196;
$pink: #e83e8c;
$red: #FC3939;
$orange: #fd7e14;
$yellow: #EFA31D;
$green: #13B955;
$teal: #20c997;
$cyan: #009CDC;
$primary: $purple;
$secondary: #A991D4;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-200;
$dark: $gray-900;
$enable-rounded: false;
$body-color: $gray-700;
$link-hover-color: $primary;
$font-size-base: 0.875rem;
$table-border-color: rgba(0, 0, 0, 0.05);
$input-focus-border-color: $primary;
$dropdown-link-color: $gray-700;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $primary;
$nav-tabs-border-color: $gray-300;
$nav-tabs-link-hover-border-color: $primary;
$navbar-padding-y: 1.2rem;
$navbar-dark-hover-color: rgba($white,.9);
$navbar-dark-active-color: rgba($white,.9);
$navbar-light-color: rgba($black,.4);
$navbar-light-active-color: rgba($black,.7);
$navbar-light-disabled-color: rgba($black,.2);
$progress-bg: $gray-300;
$progress-bar-bg: $primary;
$list-group-bg: $gray-900;
$list-group-border-color: transparent;
$list-group-hover-bg: lighten($list-group-bg, 10%);
$list-group-active-color: $white;
$list-group-active-bg: $list-group-bg;
$list-group-disabled-color: lighten($list-group-bg, 30%);

$spacer: 1.6rem;
$paragraph-margin-bottom: 1rem;
$line-height-lg: 1.6;
$line-height-sm: 0.92;
$border-radius-lg: .9rem;
$border-radius-sm: .06rem;
$border-radius: .2rem;
$transition-base: all .4s ease-in-out;
$font-weight-bold: 900;
$headings-font-weight: 700;
$headings-font-family: 'Poppins', sans-serif;
$font-family-monospace: 'Fira Mono', monospace;
$font-family-sans-serif: 'Poppins', sans-serif;
$grid-gutter-width: 50px;
$mark-bg: #fadacf;
$secondary: $purple;
$border-color: $gray-100;
$card-border-color: rgba($gray-100, .5);
$card-cap-bg: rgba($primary, .03);
$input-btn-padding-x: 1.7rem;
$input-btn-padding-y: .75rem;