.page-pages-show-donation-v2-wide {
    .custom-control-inline {
    padding-left: 0.0256rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 0.256rem;
    margin-bottom: 0.256rem;
}
  .form-progress-indicator {
    width: 130%;
    left: -15%;
    position: relative;
  }
  .progress-indicator-stages {
    list-style-type: none;
    padding: 0 0 15px 0;
    margin: 0 auto;
    width: auto;
    text-align: center;
    li {
      display: inline-block;
      position: relative;
      margin-right: 32px;
      white-space: nowrap;
      width: 51px;
      &:after {
        content: " ";
        width: 42px;
        height: 0;
        border-bottom: 1px solid #ccc;
        position: absolute;
        top: 45px;
        left: 47px;
      }
      &:last-child {
        margin-right: 0;
        &:after {
          display: none;
        }
      }
      .stage-label {
        font-size: 12px;
        font-weight: 600;
        position: relative;
        text-transform: uppercase;
      }
      &.stage-1 .stage-label {
        left: -1px;
      }
      &.stage-2 .stage-label {
        left: -8px;
      }
      &.stage-3 .stage-label {
        left: -3px;
      }
      .stage-count {
        position: relative;
        display: block;
        color: #fff;
        width: 47px;
        height: 47px;
        text-align: center;
        background: #f8f8f8;
        border: 1px solid #ccc;
        border-radius: 99px;
      }
      .stage-count-inner {
        width: 39px;
        height: 39px;
        left: 3px;
        top: 3px;
        line-height: 40px;
        display: block;
        position: relative;
        background: #ccc;
        position: relative;
        border-radius: 99px;
      }
      &.active .stage-count-inner {
        background: $pink;
      }
      &.seen .stage-count-inner {
        background: $blue;
        cursor: pointer;
      }
      &.completed .stage-count-inner {
        text-indent: -9999px;
        background: $green;
        cursor:pointer;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDB6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTkgMTYuMkw0LjggMTJsLTEuNCAxLjRMOSAxOSAyMSA3bC0xLjQtMS40TDkgMTYuMnoiLz48L3N2Zz4=');
          background-repeat: no-repeat;
          background-size: 22px;
          background-position: center center;
        }
      }
      &.completed .stage-count {
        cursor: pointer;
      }
    }
  }
  .progress-stages {
    padding-top: $spacer;
    .progress-stage {
      display: none;
      &.active {
        display: block;
      }
    }
  }
  .progress-stage-button-prev {
    display: block;
    margin-top: .5em;
    &:before {
      content:"\00ab\0000a0";
    }
  }
}

.lt-ie9 .progress-indicator-stages li.stage-3:after {
  display:none;
}

#donation_billing_address_state {
  width: 100%;
}

.radio-inline.donation-v2-amounts.padbottommore.btn-group, .donation-v2-amounts {
    .custom-radio .custom-control-label::before {
        content: none;
    }

>.custom-control.custom-radio { 
  label{
    color: $gray-700;
    background-color:  $blue;
    background-image: none;
    border-color: #74d6eb;
    display: inline-block;
    font-weight: 300;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid $cyan;
    padding: 1rem 1.6rem;
    font-size: 1rem;
    line-height: 1.4;
    border-radius: 1.9rem;
    -moz-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    ext-transform: uppercase;
    border: none;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    transition: all 0.4s;
  }
  label:hover, input[type="radio"]:checked+label.radio {
    color: $gray-800;
    background-color: #green;
    border-color: $gray-700;
  }
  label:after {

    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-left: 0;
    background-image: radial-gradient(circle, #ffffff 10%,rgba(0,0,0,0) 10.01%);
    background-repeat: no-repeat;
    background-size: 1000% 1000%;
    background-position: 50%;
    border: none;
    opacity: 0;
    pointer-events: none;
    transition: background .5s, opacity 1s;
  }

  label:active:focus, span label.active:focus {
    box-shadow: inset 0 3px 5px rgba(34,25,28,0.125), 0 0 0 0.2rem rgba(116,214,235,0.5);
  }

  input[type="radio"]:checked+label.radio, label:active, span label.active {
    box-shadow: inset 0 3px 5px rgba(34,25,28,0.125);
  }
  label:focus, span label.focus {
    box-shadow: 0 0 0 0.2rem rgba(116,214,235,0.5);
  }
  #donation_amount_other+label {
    margin-top: 1.48rem;
    font-size:1rem;
  }
  input[type="radio"] {
    visibility: hidden;
    opacity: 0;
    height: 0;
  }
}
}
