<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2"> 

      {% if page.headline.size > 0 %}
      <h2 class="headline">{{ page.headline }}</h2>
      {% endif %}

      <div id="content">

        {% if page.leaderboard.content.size > 0 %}
        <div id="intro" class="intro">
          {{ page.leaderboard.content }}
        </div>
        {% endif %}

      </div>

      {% for leaderboard in page.page_leaderboards %}

        <div class="leaderboard{% if forloop.last %} last{% endif %}">

          {% if leaderboard.has_goal? %}
          {% assign thermo_width = 100 %}
            <div class="clearfix">
              <div class="bar-text"><h2 class="strong">{{ leaderboard.total }}</h2> of a {{ leaderboard.goal }} {{ leaderboard.goal_name }} goal</div>
              <div class="progress" style="width: {{ thermo_width }}%;">
                <div class="bar progress-bar" role="progressbar" style="width: {{ leaderboard.percent_of_goal | times:100 }}%;">
                </div>
              </div>
            </div>
          {% endif %}

          {% if leaderboard.display_number_results > 0 %}

            <h3 class="secondary">Top {{ leaderboard.display_number_results }} {{ leaderboard.display_name }}</h3>

            {% for entry in leaderboard.entries %}
              {% include "leaderboard_card" %}
            {% endfor %}

          {% endif %}

        </div>

      {% endfor %}

      {% include "like_page" %}

    </div>
  </div>
</div>